.button{
    background: transparent;
    border: 1px solid $feature-color;
    color: $feature-color;
    border-radius: 100px;
    height: 35px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: $body-font;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    transition: background .5s;
   // box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.185);
}
.button:hover{
    background: $feature-color;
    color: $text-color;
    font-weight: bold;
}
.secondary-button{
    background: transparent;
     border: 1px solid $feature-color;
    color: $feature-color;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: $body-font;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    width: 120px;

}