.button{
    background: var(--feature-color);
    border-radius: 100px;
    height: 35px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-transform: uppercase;
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 14px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.185);
}