
.nav{
    background: $primary-color;
    height: 80px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    z-index: 10;
}
.nav__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  @media(max-width: $bp-mobile){
      margin: 0 $mobile-gutter;
  }
}
.nav__list{
    display:flex;
    flex: 3;
    gap:26px;
    list-style: none;
}
.nav__list--item:not(.active){
  opacity: .75;
}
.nav__list--item a{
    text-decoration: none;
    font-size: 14px;
    font-family: $body-font;
    color: $feature-color;
    font-weight: 300;
    text-transform: uppercase;
  }
.nav__list--item.active a{
    opacity: 1;
    font-weight: 700;
  }
.nav__logo{
  margin-top: 10px;
  z-index: 10;

}
.nav__right-side{
  flex:3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px
}

.nav__right-side__social-icon{
  height: 20px
}
.mobile-nav{
  display:none;
}
.desktop-nav{
  @media(max-width: 920px){
    display: none;
  }
}
@media(max-width: 920px){
  .mobile-nav{
    display: block;
  
  }
  .mobile-nav__social-icons{
    flex:3;
    display:flex;
    gap: 20px;
  }
  .nav__list--mobile{
    position: absolute;
    margin-right: -300px;
    visibility: hidden;
    transition: margin-right .5s ease;
  }
  .nav-active .nav__list--mobile{
    display: block;
    background: $feature-color;
    width: 300px;
    list-style-type: none;
    right: 0;
    top: 0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 15px;
    margin-right: 0px;
    visibility: inherit;
    z-index: 10; 
   
  }
  .nav__list--mobile a{
    color: $text-color;
    text-decoration: none;
    
  }
  .hamburger{
    z-index: 20;
  }
  .nav-active .hamburger-inner, .nav-active .hamburger-inner::before, .nav-active.hamburger-inner::after{
    background: #333!important;

  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    background: $feature-color!important;
  }
}
ul .secondary-button{
  position: absolute;
  bottom: 35px;
}