.hero{
    height: calc(100vh - 80px);
    background: $primary-color;
    display: flex;
}
@media(max-width: $bp-tablet){
    .hero{
        flex-flow: column;
        height: initial;
      
    }
}
.hero__text{
     flex: 5;
     margin-left: $gutter;
     margin-top: 150px;
     display: flex;
     flex-flow: column;
    @media(max-width: $bp-tablet){
        margin:50px $tablet-gutter;
        margin-top: 50px;
        order: 1;
        text-align: left;
    }
    @media(max-width: $bp-mobile){
        margin: 50px $mobile-gutter;
        text-align: left;
        align-items: flex-start;
    }
}
.hero__text--p{
    margin-top: 38px;
    font-size: 18px;
    color: $feature-color;
    @media(max-width: $bp-tablet){
        font-size: 18px;
        margin-top: 30px;
    }
}
.hero .button{
    margin-top: 75px;
  
    @media(max-width: $bp-tablet){
        margin-top: 55px; 
    }
}
.hero img{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 100%);
    width: 600px;
    @media(max-width: $bp-tablet){
        clip-path: none;
        margin-top: -200px;
        width: 100%;
        margin-top: 50px;
    }
}
.hero__image--container{
    overflow: hidden;
    @media(max-width: 1200px){
        margin-right: -100px;
    }
    @media(max-width: $bp-tablet){
        height: 300px;
        z-index: 1;
        overflow: hidden;
        display: flex;
        justify-content: center; 
        align-items: center;
    }
}