.prices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px $gutter $section-gap;
    padding-top: 100px;
    row-gap: 40px;
    column-gap: 20px;
    @media(max-width: $bp-tablet){
        margin: 0 $tablet-gutter $tablet-section-gap;
        padding-top: $tablet-section-gap;
    }
    @media(max-width: $bp-mobile){
        margin: 40px $mobile-gutter;
    }
}
.prices-card{
    height: 320px;
    display: flex;
    flex-flow: column;
    width: calc(33.3% - 20px);
    border: 1px solid rgba(51, 51, 51, 0.39);
    padding: 30px;
    @media(max-width: $bp-tablet){
        width: calc(50% - 20px);
    }
    @media(max-width: 700px){
        width: 100%;
    }
}
.prices-card__title{
    font-weight: 300;
}
.prices-card__description{
    margin-top: 11px;
}
.prices-card__price{
    font-size: 14px;
   font-family: $heading-font;
   opacity: .9;
}

.price-card__bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}