.quote-section{

}
.quote-section__quote{
    position: relative;
    margin: $section-gap $gutter 0;
  
    @media(max-width: $bp-tablet){

    }
    @media(max-width: $bp-mobile){
        
    }
}
.quote-section__quote__p{
    font-family: $body-font;
    font-size: 26px;
    opacity: .7;
    @media(max-width: $bp-tablet){
        line-height: 1.4;
    }
    @media(max-width: $bp-mobile){

    }
}
// .quote-section__quote__p::after{
//     font-family: $body-font;
//     content: '\201C';
//     display: block;
//     font-size: 200px;
//     font-weight: bold;
//     color: $text-color;
//     position: absolute;
//     left: -20px;
//     top: -100px;
//     opacity: .1;
// }
// .quote-section__quote__p::before{
//     font-family: $body-font;
//     content: '\201D';
//     display: block;
//     font-size: 200px;
//     font-weight: bold;
//     color: $text-color;
//     position: absolute;
//     right: -20px;
//     top: -100px;
//     opacity: .1;
// }
.quote-section__quote__footer{
    margin-top: 30px;
    text-align: right;
    // transform: translateX(50%);
    font-family: $body-font;
    font-weight: bold;
}
cite{
    font-weight: 400;
    font-size: 22px;
}