.quote-section{
    margin:  300px $gutter 100px;
    @media(max-width: $bp-tablet){
        margin: $tablet-section-gap $tablet-gutter 0;
    }
    @media(max-width: $bp-mobile){
        margin: 40px $mobile-gutter 70px;
    }
}
.quote-section__quote{
    position: relative;
}
.quote-section__quote__p{
    font-family: $feature-font;
    font-size: 40px;
    opacity: .7;
    @media(max-width: $bp-tablet){
        font-size: 36px;
        line-height: 1.4;
    }
    @media(max-width: $bp-mobile){
        font-size: 30px;
    }
}
.quote-section__quote__p::after{
    font-family: $body-font;
    content: '\201C';
    display: block;
    font-size: 200px;
    font-weight: bold;
    color: $text-color;
    position: absolute;
    left: -20px;
    top: -100px;
    opacity: .1;
}
.quote-section__quote__p::before{
    font-family: $body-font;
    content: '\201D';
    display: block;
    font-size: 200px;
    font-weight: bold;
    color: $text-color;
    position: absolute;
    right: -20px;
    top: -100px;
    opacity: .1;
}
.quote-section__quote__footer{
    margin-top: 30px;
    text-align: right;
    // transform: translateX(50%);
    font-family: $body-font;
    font-weight: bold;
   
}

