.services{
    display: flex;
    flex-wrap: wrap;
    margin: 0 $gutter $section-gap;
    padding-top: $section-gap;
    gap: 20px;
    @media(max-width: $bp-tablet){
        margin: 0 $tablet-gutter $tablet-section-gap;
        padding-top: $tablet-section-gap;
    }
    @media(max-width: $bp-mobile){
        margin: 80px $mobile-gutter;
    }
}
.services-card{
    // width: calc(1200/3);
    flex: 1;
    min-width: 300px;

}
.services-card__image{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.services-card__title{
    font-family: $heading-font;
    font-weight: 400;
    margin-top: 20px;
}
.services-card__description{
    margin-top: 12px;
}