@import "./base/variables";

@import "./vendors/splide-min";

@import "./base/reset";
@import "./base/spacing";
@import "./base/typography";
@import "./base/body";

@import "./components/button";
@import "./components/hamburgers";
@import "./components/nav";
@import "./components/testimonialCarousel";
@import "./components/modal";
@import "./components/footer";
@import "./components/form";
@import "./components/logo";

@import "./sections/hero";

@import "./sections/services";
@import "./sections/about";
@import "./sections/prices";
